<!-- cloud music -->
<!-- auto=1 可以控制自动播放与否，当值为 1 即打开网页就自动播放，值为 0 时需要访客手动点击播放 -->

<!--width height  wrapper设置  margin 为播放器相对于wrapper设置-->

<style type="text/css"> 
.wrapper
 { width:330px; height:96px; margin:0px 200px; overflow:hidden; position:relative; }
 .iframe { width:0px;height:0px; position:absolute; top:-300px; left:-300px; }
 </style> 
<div class="wrapper"> 
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
        src="//music.163.com/outchain/player?type=2&id={{ page.music-id }}&auto=0&height=66">
</iframe>
 </div>